src/main/resources/schemas/template/xmeta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ xnat-template-plugin: template.xsd
  ~ XNAT https://www.xnat.org
  ~ Copyright (c) 2005-2021, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<!--
	TODO: You can use this as the basis for an XNAT data-type definition or simply delete it. Note that there are other
	files related to the data type defined here:

	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_edit_template_sample.java
	 - src/main/java/org/apache/turbine/app/xnat/modules/screens/XDATScreen_report_template_sample.java
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_edit_template_sample.vm
	 - src/main/resources/META-INF/resources/templates/screens/XDATScreen_report_template_sample.vm
	 - src/main/resources/META-INF/resources/templates/screens/xnat_subjectData/actionsBox/sample.vm
-->
<xs:schema targetNamespace="http://nrg.wustl.edu/xnat" xmlns:template="http://nrg.wustl.edu/template" xmlns:xnat="http://nrg.wustl.edu/xnat"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="xmetadata" type="xnat:xmetadata"/>

	<xs:complexType name="xmetadata">
		<xs:annotation>
			<xs:documentation>A very simple sample data type that indicates extra metadata of the study.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="institution_name">
						<xs:annotation>
							<xs:documentation>Indicates the institution name of the study.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="imaging_facility">
						<xs:annotation>
							<xs:documentation>Indicates the imaging facility.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="eubi_node">
						<xs:annotation>
							<xs:documentation>Indicates if it belongs to EUBI or not.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="study_name">
                        <xs:annotation>
                            <xs:documentation>Indicates the title to the image dataset/project.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="publication">
                        <xs:annotation>
                            <xs:documentation>Indicates the publication where the image dataset has been firstly described.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="doi">
                        <xs:annotation>
                            <xs:documentation>Indicates the DOI number.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="species">
                        <xs:annotation>
                            <xs:documentation>Indicates the species.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="strain">
                        <xs:annotation>
                            <xs:documentation>Indicates the strain.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="genotype">
                        <xs:annotation>
                            <xs:documentation>Indicates the genotype.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="gender">
                        <xs:annotation>
                            <xs:documentation>Indicates the gender.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="groups">
                        <xs:annotation>
                            <xs:documentation>Indicates the group type.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="no_of_patients">
                        <xs:annotation>
                            <xs:documentation>Indicates the number of the patients used in the study.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="disease_model">
                        <xs:annotation>
                            <xs:documentation>Indicates the disease.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="organ">
                        <xs:annotation>
                            <xs:documentation>Indicates the organ of the patient.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="tumor_model">
                        <xs:annotation>
                            <xs:documentation>Indicates the name of the tumor model.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="site_of_engraftment">
                        <xs:annotation>
                            <xs:documentation>Indicates the site of the engraftment.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="tumor_cell_line">
                        <xs:annotation>
                            <xs:documentation>Indicates the name of the inoculated cancer cell line.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="pro_enz_rec">
                        <xs:annotation>
                            <xs:documentation>Indicates the name of the investigated protein/enzyme/receptor.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="intervention_substance">
                        <xs:annotation>
                            <xs:documentation>Indicates the pharmaceutical class of the administered therapeutic drug.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="drug">
                        <xs:annotation>
                            <xs:documentation>Indicates the chemical name of the administered therapeutic drug.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dose">
                        <xs:annotation>
                            <xs:documentation>Indicates the administered dose of the contrast agent.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="administration_route">
                        <xs:annotation>
                            <xs:documentation>Indicates the institution name of the study.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="contrast_agent">
                        <xs:annotation>
                            <xs:documentation>Indicates the commercial name of the administered contrast agent.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="imaging_technique">
                        <xs:annotation>
                            <xs:documentation>Indicates the imaging modality.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="imaging_method">
                        <xs:annotation>
                            <xs:documentation>Indicates the method of imaging.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="scanner">
                        <xs:annotation>
                            <xs:documentation>Indicates the name and version of scanner</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="scanner_vendor">
                        <xs:annotation>
                            <xs:documentation>Indicates the company name of the scanner.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="time_points">
                        <xs:annotation>
                            <xs:documentation>Indicates the number of time points and the description of the time points.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
